@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./fonts/montserrat-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./fonts/montserrat-v15-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v15-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  margin:0px;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

#map {
  /* top: 100px; */
  width: 700px;
  height: 625px;
  /* top: 75px; */
  /* position: absolute; */
}
/* .mapboxgl-ctrl-top-left {
  top: 75px;
} */
.top-bar {
  height: 75px;
  width: 700px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}
#description-box {
  font-size: 1.15em;
  display: inline;
  vertical-align: middle;
  color: white;
}

#description-box p {
  padding: 10px 50px;
  margin: 0px;
  font-size: 17.5px;
}
.side-bar {
  width: 100px;
  height: 800px;
  /* position: absolute; */
  margin-left: 600px;
  z-index: 10000;
}
.bottom-bar {
  width: 700px;
  /* background-color: rgba(50,50,50,.3); */
  background-color: rgba(0, 0, 0, .5);
}
.bottom-bar-row {
  display: flex;
  justify-content: center;
}
.tier1 {
  width: 700px;
}
.tier2 {
  /* position: absolute; */
  top: 735px;
  width: 700px;
}
.loc-button {
  color: white;
  background-color: rgba(50,50,50,.7);
  text-align: center;
  vertical-align: middle;
  float:left;
  clear:none;
  height: 35px;
  border-radius: 5px;
  /* font-weight: 700; */
  /* font-family: 'Montserrat', 'san-serif'; */
}

.tier1 .loc-button {
  width: 150px;
}
.tier1 .loc-button {
  width: 200px;
}
.loc-button:hover, .loc-button.active {
  background-color: rgba(50,50,50,.9);
}

.loc-button p {
  display:inline;
  vertical-align: middle;
}

.mapboxgl-popup {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.15em;
}

/* monster verbosity needed for conditional popup background colors */
/* DEFAULT POPUP */
.popup-default .mapboxgl-popup-content {
  background-color: rgb(50, 50, 50) !important;
}
.popup-default.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.popup-default.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.popup-default.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(50, 50, 50) !important;
}
.popup-default.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.popup-default.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.popup-default.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgb(50, 50, 50) !important;
}
.popup-default.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(50, 50, 50) !important;
}
.popup-default.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(50, 50, 50) !important;
}

/* CSS POPUP */
.popup-css .mapboxgl-popup-content {
  background-color: rgb(207, 177, 76) !important;
}
.popup-css.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.popup-css.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.popup-css.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(207, 177, 76) !important;
}
.popup-css.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.popup-css.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.popup-css.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgb(207, 177, 76) !important;
}
.popup-css.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(207, 177, 76) !important;
}
.popup-css.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(207, 177, 76) !important;
}

/* STUDIO POPUP */
.popup-studio .mapboxgl-popup-content {
  background-color: rgb(101, 198, 210) !important;
}

.popup-studio.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.popup-studio.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.popup-studio.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(101, 198, 210) !important;
}
.popup-studio.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.popup-studio.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.popup-studio.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip   {
  border-top-color: rgb(101, 198, 210) !important;
}
.popup-studio.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(101, 198, 210) !important;
}
.popup-studio.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(101, 198, 210) !important;
}

/* PARTNER POPUP */
.popup-partner .mapboxgl-popup-content {
  background-color: rgb(145, 139, 195) !important;
}
.popup-partner.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.popup-partner.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.popup-partner.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(145, 139, 195) !important;
}
.popup-partner.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.popup-partner.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.popup-partner.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgb(145, 139, 195) !important;
}
.popup-partner.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(145, 139, 195) !important;
}
.popup-partner.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(145, 139, 195) !important;
}
